In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mssql+pyodbc://@(localdb)\Local/WebScrapping?driver=ODBC+Driver+17+for+SQL+Server')
consulta = "SELECT * FROM Notas"
df = pd.read_sql_query(consulta, engine)

In [3]:
df.describe()

,Codigo,Nombres,Modalidad,Prueba1,Prueba2,Prueba3,Acumulado,N,NV,NA,Notafinal,Ingreso,Observacion
count,5527,5527,5527,5455,5527,5455,5455,5527,589,589,5527,791,162
unique,5527,5527,9,3829,232,190,5036,4310,189,564,4317,30,3
top,10277E,CAMONES CHACALIAZA BRYAN ALFREDO,ORDINARIO,***,***,"1,000",***,***,"0,000",***,***,INGENIERÍA CIVIL,Reglamento de Admisión: cuarta disposición final
freq,1,1,5344,109,109,165,109,109,15,10,109,81,109

In [4]:
df

,Codigo,Nombres,Modalidad,Prueba1,Prueba2,Prueba3,Acumulado,N,NV,NA,Notafinal,Ingreso,Observacion
0,10277E,CAMONES CHACALIAZA BRYAN ALFREDO,ORDINARIO,"443,880","318,000","142,500","904,380","9,803",None,None,"9,803",None,None
1,10278J,FLORENTINO OCAÑA KAMILLA ISABEL,ORDINARIO,***,***,***,***,***,None,None,***,None,Reglamento de Admisión: cuarta disposición final
2,10279D,CÁRDENAS CHÁVEZ KATHERINE LUCÍA,ORDINARIO,"490,320","330,000","210,000","1030,320","11,168",None,None,"11,168",INGENIERÍA QUÍMICA,None
3,10280G,TARAPAQUI MEDINA ERIKA MERCEDES,ORDINARIO,"348,400","177,000","165,000","690,400","7,484",None,None,"7,484",None,None
4,10281A,MASGO ROBERTO ERICKA,ORDINARIO,"479,600","453,000","400,000","1332,600","14,445",None,None,"14,445",INGENIERÍA QUÍMICA,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5522,98074A,CASTILLO RAMOS DIEGO JOSÉ,ORDINARIO,"390,080","207,000","1,000","598,080","6,483",None,None,"6,483",None,None
5523,98075A,ARIAS VASQUEZ ANTHONY JAYL EUFRACIO,ORDINARIO,"477,400","222,000","125,000","824,400","8,936",None,None,"8,936",None,None
5524,98076A,ROMANI BOCANEGRA JOSÉ MIGUEL,ORDINARIO,"170,000","72,000","1,000","243,000","2,634",None,None,"2,634",None,None
5525,98077A,OSCATA VILLEGAS ANDERSON,EXTRAORDINARIO 1 - DEPORTISTAS CALIFICADOS DE ...,"0,000","1,000","35,000","36,000","0,390",None,None,"0,390",None,None
5526,99901C,QUISPE CURO DIEGO,ORDINARIO,"371,800","240,000","95,000","706,800","7,661",None,None,"7,661",None,None

In [5]:
nuevo_df = df[df['Notafinal'] != '***']

In [6]:
def Clean(df,cols):
    for col in cols:
        df[col]=df[col].str.replace(',','.')
        df_numeric = df[col].apply(pd.to_numeric, errors='coerce')

        # Identificar valores no numéricos
        valores_no_numericos = df[col][df_numeric.isnull()]

        print(f'{col} : {valores_no_numericos.unique().tolist()}')
        df[col]=df_numeric

In [7]:
Numeric_cols=['Prueba1','Prueba2','Prueba3','N','NV','NA','Acumulado','Notafinal']
Clean(nuevo_df,Numeric_cols)

C:\Users\seec5\AppData\Local\Temp\ipykernel_32848\3284908504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=df[col].str.replace(',','.')
C:\Users\seec5\AppData\Local\Temp\ipykernel_32848\3284908504.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=df_numeric

Prueba1 : [None]
Prueba2 : []
Prueba3 : [None]
N : []
NV : [None]
NA : [None]
Acumulado : [None]
Notafinal : []

In [11]:
nuevo_df[Numeric_cols].describe()

,Prueba1,Prueba2,Prueba3,N,NV,NA,Acumulado,Notafinal
count,5346.000000,5418.000000,5346.000000,5418.000000,579.000000,579.000000,5346.000000,5418.000000
mean,399.414852,212.212255,150.302095,8.258391,9.475648,8.104527,759.156154,8.321122
std,109.097293,126.458309,108.511392,3.272323,3.369586,2.789679,297.669120,3.238126
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,341.320000,114.000000,65.000000,5.846500,7.560000,6.273000,539.170000,5.955000
50%,414.220000,204.000000,130.000000,8.131000,9.960000,8.105000,748.270000,8.227000
75%,474.890000,300.000000,220.000000,10.585500,11.760000,10.199500,973.410000,10.626750
max,676.120000,776.000000,500.000000,19.400000,16.560000,14.157000,1743.120000,19.400000

In [13]:
nuevo_df.Ingreso.unique().tolist()

[None,
 'INGENIERÍA QUÍMICA',
 'INGENIERÍA PETROQUÍMICA',
 'QUÍMICA',
 'INGENIERÍA TEXTIL',
 'INGENIERÍA ELÉCTRICA',
 'INGENIERÍA FÍSICA',
 'INGENIERÍA DE TELECOMUNICACIONES',
 'INGENIERÍA DE CIBERSEGURIDAD',
 'FÍSICA',
 'INGENIERÍA ELECTRÓNICA',
 'INGENIERÍA AMBIENTAL',
 'INGENIERÍA METALÚRGICA',
 'MATEMÁTICA',
 'INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL',
 'INGENIERÍA ESTADÍSTICA',
 'INGENIERÍA INDUSTRIAL',
 'INGENIERÍA DE SOFTWARE',
 'INGENIERÍA DE SISTEMAS',
 'INGENIERÍA ECONÓMICA',
 'CIENCIA DE LA COMPUTACIÓN',
 'INGENIERÍA CIVIL',
 'INGENIERÍA SANITARIA',
 'INGENIERÍA DE PETRÓLEO Y GAS NATURAL',
 'INGENIERÍA GEOLÓGICA',
 'ARQUITECTURA',
 'INGENIERÍA NAVAL',
 'INGENIERÍA MECÁNICA-ELÉCTRICA',
 'INGENIERÍA MECATRÓNICA',
 'INGENIERÍA DE MINAS',
 'INGENIERÍA MECÁNICA']

In [28]:
Ingreso_df=nuevo_df[nuevo_df.Ingreso.notna()]
Ingreso_df[Numeric_cols].describe()

,Prueba1,Prueba2,Prueba3,N,NV,NA,Acumulado,Notafinal
count,758.000000,791.000000,758.000000,791.000000,40.000000,40.000000,758.000000,791.000000
mean,505.825435,390.742099,311.787599,13.074661,13.045000,12.718775,1199.851821,13.081699
std,58.531928,90.994654,80.988692,1.824428,1.626125,0.863101,157.420542,1.816634
min,281.960000,132.000000,60.000000,10.002000,10.320000,10.686000,922.760000,10.002000
25%,467.220000,330.000000,255.000000,11.703500,11.900000,12.357500,1081.120000,11.758000
50%,506.140000,387.000000,318.750000,12.989000,13.260000,12.775500,1196.640000,12.977000
75%,545.920000,441.000000,367.500000,14.144000,14.230000,13.349500,1298.595000,14.139500
max,676.120000,776.000000,500.000000,19.400000,16.560000,14.157000,1743.120000,19.400000

In [40]:
Ingreso_df.groupby('Ingreso').agg(['mean','min','max'])
# .sort_values(by='Notafinal',ascending=False)

C:\Users\seec5\AppData\Local\Temp\ipykernel_32848\3127704379.py:1: FutureWarning: ['Codigo', 'Nombres', 'Modalidad', 'Observacion'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  Ingreso_df.groupby('Ingreso').agg(['mean','min','max'])

                                                 Prueba1                  \
                                                    mean     min     max
Ingreso
ARQUITECTURA                                  511.746667  416.00  623.44
CIENCIA DE LA COMPUTACIÓN                     509.395000  415.92  613.16
FÍSICA                                        521.237647  402.88  673.48
INGENIERÍA AMBIENTAL                          477.496000  323.60  619.48
INGENIERÍA CIVIL                              534.009315  389.76  676.12
INGENIERÍA DE CIBERSEGURIDAD                  502.779130  379.12  646.28
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL  494.310303  426.32  591.32
INGENIERÍA DE MINAS                           483.280000  322.60  614.96
INGENIERÍA DE PETRÓLEO Y GAS NATURAL          533.840000  533.84  533.84
INGENIERÍA DE SISTEMAS                        540.781905  447.76  638.68
INGENIERÍA DE SOFTWARE                        530.675200  381.44  617.80
INGENIERÍA DE TELECOMUNICACIONES              483.361739  371.04  574.24
INGENIERÍA ECONÓMICA                          512.322500  373.92  602.08
INGENIERÍA ELECTRÓNICA                        529.828800  409.68  623.60
INGENIERÍA ELÉCTRICA                          494.688696  417.64  611.80
INGENIERÍA ESTADÍSTICA                        488.204138  393.00  605.12
INGENIERÍA FÍSICA                             474.435294  344.00  583.08
INGENIERÍA GEOLÓGICA                          480.396000  403.20  594.72
INGENIERÍA INDUSTRIAL                         522.534286  404.28  605.56
INGENIERÍA MECATRÓNICA                        543.175000  481.60  629.44
INGENIERÍA MECÁNICA                           513.503750  400.00  652.76
INGENIERÍA MECÁNICA-ELÉCTRICA                 485.623750  281.96  611.68
INGENIERÍA METALÚRGICA                        462.422222  307.60  540.60
INGENIERÍA NAVAL                              498.820000  418.60  583.32
INGENIERÍA PETROQUÍMICA                       501.580000  448.48  549.44
INGENIERÍA QUÍMICA                            478.034146  376.44  574.16
INGENIERÍA SANITARIA                          495.725714  316.60  620.64
INGENIERÍA TEXTIL                             449.900000  402.92  496.88
MATEMÁTICA                                    498.981538  424.64  576.76
QUÍMICA                                       461.400000  386.84  547.08

                                                 Prueba2                \
                                                    mean    min    max
Ingreso
ARQUITECTURA                                  365.750000  246.0  468.0
CIENCIA DE LA COMPUTACIÓN                     364.529412  228.0  567.0
FÍSICA                                        397.611111  231.0  752.0
INGENIERÍA AMBIENTAL                          311.040000  156.0  510.0
INGENIERÍA CIVIL                              468.419753  306.0  756.0
INGENIERÍA DE CIBERSEGURIDAD                  389.086957  285.0  564.0
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL  371.272727  237.0  465.0
INGENIERÍA DE MINAS                           406.045455  321.0  572.0
INGENIERÍA DE PETRÓLEO Y GAS NATURAL          381.000000  381.0  381.0
INGENIERÍA DE SISTEMAS                        457.931818  315.0  760.0
INGENIERÍA DE SOFTWARE                        419.040000  312.0  582.0
INGENIERÍA DE TELECOMUNICACIONES              358.043478  240.0  474.0
INGENIERÍA ECONÓMICA                          365.969697  207.0  752.0
INGENIERÍA ELECTRÓNICA                        435.517241  264.0  582.0
INGENIERÍA ELÉCTRICA                          395.080000  300.0  676.0
INGENIERÍA ESTADÍSTICA                        344.066667  195.0  704.0
INGENIERÍA FÍSICA                             304.941176  213.0  450.0
INGENIERÍA GEOLÓGICA                          337.800000  252.0  456.0
INGENIERÍA INDUSTRIAL                         415.795455  249.0  776.0
INGENIERÍA MECATRÓNICA                        450.714286  306.0  616.0
INGENIERÍA MECÁNICA                           433.606061  270.0  740.0
INGENIERÍA MECÁNICA-ELÉCTRICA                 379.787879  288.0  536.0
INGENIERÍA METALÚRGICA                        310.888889  204.0  417.0
INGENIERÍA NAVAL                              373.833333  273.0  507.0
INGENIERÍA PETROQUÍMICA                       282.000000  186.0  375.0
INGENIERÍA QUÍMICA                            331.595238  186.0  676.0
INGENIERÍA SANITARIA                          380.678571  267.0  504.0
INGENIERÍA TEXTIL                             311.000000  240.0  432.0
MATEMÁTICA                                    369.785714  132.0  728.0
QUÍMICA                                       323.750000  246.0  428.0

                                                 Prueba3                \
                                                    mean    min    max
Ingreso
ARQUITECTURA                                  288.653846  155.0  425.0
CIENCIA DE LA COMPUTACIÓN                     287.656250  112.5  440.0
FÍSICA                                        329.852941  215.0  500.0
INGENIERÍA AMBIENTAL                          252.200000  130.0  425.0
INGENIERÍA CIVIL                              370.582192  197.5  485.0
INGENIERÍA DE CIBERSEGURIDAD                  310.108696  207.5  500.0
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL  310.454545  187.5  365.0
INGENIERÍA DE MINAS                           301.309524  177.5  422.5
INGENIERÍA DE PETRÓLEO Y GAS NATURAL          217.500000  217.5  217.5
INGENIERÍA DE SISTEMAS                        365.773810  247.5  485.0
INGENIERÍA DE SOFTWARE                        353.600000  172.5  470.0
INGENIERÍA DE TELECOMUNICACIONES              297.065217  207.5  470.0
INGENIERÍA ECONÓMICA                          282.656250  130.0  470.0
INGENIERÍA ELECTRÓNICA                        362.400000  242.5  485.0
INGENIERÍA ELÉCTRICA                          332.282609  225.0  425.0
INGENIERÍA ESTADÍSTICA                        235.086207   60.0  352.5
INGENIERÍA FÍSICA                             283.676471  195.0  442.5
INGENIERÍA GEOLÓGICA                          280.000000  165.0  447.5
INGENIERÍA INDUSTRIAL                         326.666667  100.0  485.0
INGENIERÍA MECATRÓNICA                        381.093750  122.5  485.0
INGENIERÍA MECÁNICA                           353.671875  157.5  460.0
INGENIERÍA MECÁNICA-ELÉCTRICA                 318.046875  155.0  455.0
INGENIERÍA METALÚRGICA                        219.166667  107.5  377.5
INGENIERÍA NAVAL                              293.750000  160.0  360.0
INGENIERÍA PETROQUÍMICA                       275.000000  170.0  402.5
INGENIERÍA QUÍMICA                            269.939024  125.0  485.0
INGENIERÍA SANITARIA                          296.071429  120.0  430.0
INGENIERÍA TEXTIL                             302.500000  267.5  337.5
MATEMÁTICA                                    225.576923  122.5  455.0
QUÍMICA                                       318.333333  235.0  367.5

                                                Acumulado  ...       N  \
                                                     mean  ...     max
Ingreso                                                    ...
ARQUITECTURA                                  1164.246667  ...  15.018
CIENCIA DE LA COMPUTACIÓN                     1149.363750  ...  16.726
FÍSICA                                        1227.855294  ...  18.834
INGENIERÍA AMBIENTAL                          1040.736000  ...  16.850
INGENIERÍA CIVIL                              1358.372329  ...  18.900
INGENIERÍA DE CIBERSEGURIDAD                  1201.974783  ...  18.539
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL  1176.037576  ...  12.994
INGENIERÍA DE MINAS                           1182.732381  ...  14.817
INGENIERÍA DE PETRÓLEO Y GAS NATURAL          1132.340000  ...  12.274
INGENIERÍA DE SISTEMAS                        1351.912857  ...  19.000
INGENIERÍA DE SOFTWARE                        1303.315200  ...  17.533
INGENIERÍA DE TELECOMUNICACIONES              1138.470435  ...  16.236
INGENIERÍA ECONÓMICA                          1148.885000  ...  18.800
INGENIERÍA ELECTRÓNICA                        1322.068800  ...  18.326
INGENIERÍA ELÉCTRICA                          1207.710435  ...  16.900
INGENIERÍA ESTADÍSTICA                        1054.945517  ...  17.600
INGENIERÍA FÍSICA                             1063.052941  ...  15.593
INGENIERÍA GEOLÓGICA                          1098.196000  ...  14.347
INGENIERÍA INDUSTRIAL                         1254.986667  ...  19.400
INGENIERÍA MECATRÓNICA                        1370.237500  ...  18.039
INGENIERÍA MECÁNICA                           1291.206875  ...  18.500
INGENIERÍA MECÁNICA-ELÉCTRICA                 1178.576875  ...  15.823
INGENIERÍA METALÚRGICA                         992.477778  ...  12.889
INGENIERÍA NAVAL                              1166.403333  ...  13.565
INGENIERÍA PETROQUÍMICA                       1058.580000  ...  13.538
INGENIERÍA QUÍMICA                            1071.168293  ...  17.790
INGENIERÍA SANITARIA                          1172.475714  ...  13.781
INGENIERÍA TEXTIL                             1002.900000  ...  11.115
MATEMÁTICA                                    1066.789231  ...  18.200
QUÍMICA                                       1068.733333  ...  12.897

                                                  NV                       NA  \
                                                mean    min    max       mean
Ingreso
ARQUITECTURA                                  13.045  10.32  16.56  12.718775
CIENCIA DE LA COMPUTACIÓN                        NaN    NaN    NaN        NaN
FÍSICA                                           NaN    NaN    NaN        NaN
INGENIERÍA AMBIENTAL                             NaN    NaN    NaN        NaN
INGENIERÍA CIVIL                                 NaN    NaN    NaN        NaN
INGENIERÍA DE CIBERSEGURIDAD                     NaN    NaN    NaN        NaN
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL     NaN    NaN    NaN        NaN
INGENIERÍA DE MINAS                              NaN    NaN    NaN        NaN
INGENIERÍA DE PETRÓLEO Y GAS NATURAL             NaN    NaN    NaN        NaN
INGENIERÍA DE SISTEMAS                           NaN    NaN    NaN        NaN
INGENIERÍA DE SOFTWARE                           NaN    NaN    NaN        NaN
INGENIERÍA DE TELECOMUNICACIONES                 NaN    NaN    NaN        NaN
INGENIERÍA ECONÓMICA                             NaN    NaN    NaN        NaN
INGENIERÍA ELECTRÓNICA                           NaN    NaN    NaN        NaN
INGENIERÍA ELÉCTRICA                             NaN    NaN    NaN        NaN
INGENIERÍA ESTADÍSTICA                           NaN    NaN    NaN        NaN
INGENIERÍA FÍSICA                                NaN    NaN    NaN        NaN
INGENIERÍA GEOLÓGICA                             NaN    NaN    NaN        NaN
INGENIERÍA INDUSTRIAL                            NaN    NaN    NaN        NaN
INGENIERÍA MECATRÓNICA                           NaN    NaN    NaN        NaN
INGENIERÍA MECÁNICA                              NaN    NaN    NaN        NaN
INGENIERÍA MECÁNICA-ELÉCTRICA                    NaN    NaN    NaN        NaN
INGENIERÍA METALÚRGICA                           NaN    NaN    NaN        NaN
INGENIERÍA NAVAL                                 NaN    NaN    NaN        NaN
INGENIERÍA PETROQUÍMICA                          NaN    NaN    NaN        NaN
INGENIERÍA QUÍMICA                               NaN    NaN    NaN        NaN
INGENIERÍA SANITARIA                             NaN    NaN    NaN        NaN
INGENIERÍA TEXTIL                                NaN    NaN    NaN        NaN
MATEMÁTICA                                       NaN    NaN    NaN        NaN
QUÍMICA                                          NaN    NaN    NaN        NaN

                                                              Notafinal  \
                                                 min     max       mean
Ingreso
ARQUITECTURA                                  10.686  14.157  12.718775
CIENCIA DE LA COMPUTACIÓN                        NaN     NaN  12.549412
FÍSICA                                           NaN     NaN  13.614611
INGENIERÍA AMBIENTAL                             NaN     NaN  11.281240
INGENIERÍA CIVIL                                 NaN     NaN  14.756580
INGENIERÍA DE CIBERSEGURIDAD                     NaN     NaN  13.029087
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL     NaN     NaN  12.747818
INGENIERÍA DE MINAS                              NaN     NaN  12.887591
INGENIERÍA DE PETRÓLEO Y GAS NATURAL             NaN     NaN  12.274000
INGENIERÍA DE SISTEMAS                           NaN     NaN  14.808773
INGENIERÍA DE SOFTWARE                           NaN     NaN  14.127560
INGENIERÍA DE TELECOMUNICACIONES                 NaN     NaN  12.340565
INGENIERÍA ECONÓMICA                             NaN     NaN  12.645758
INGENIERÍA ELECTRÓNICA                           NaN     NaN  13.978379
INGENIERÍA ELÉCTRICA                             NaN     NaN  13.163880
INGENIERÍA ESTADÍSTICA                           NaN     NaN  11.640633
INGENIERÍA FÍSICA                                NaN     NaN  11.523059
INGENIERÍA GEOLÓGICA                             NaN     NaN  11.904050
INGENIERÍA INDUSTRIAL                            NaN     NaN  13.696659
INGENIERÍA MECATRÓNICA                           NaN     NaN  14.654229
INGENIERÍA MECÁNICA                              NaN     NaN  14.132758
INGENIERÍA MECÁNICA-ELÉCTRICA                    NaN     NaN  12.794303
INGENIERÍA METALÚRGICA                           NaN     NaN  10.757963
INGENIERÍA NAVAL                                 NaN     NaN  12.643444
INGENIERÍA PETROQUÍMICA                          NaN     NaN  11.474750
INGENIERÍA QUÍMICA                               NaN     NaN  11.737048
INGENIERÍA SANITARIA                             NaN     NaN  12.709286
INGENIERÍA TEXTIL                                NaN     NaN  10.847333
MATEMÁTICA                                       NaN     NaN  12.037500
QUÍMICA                                          NaN     NaN  11.363750


                                                 min     max
Ingreso
ARQUITECTURA                                  10.686  14.157
CIENCIA DE LA COMPUTACIÓN                     10.984  16.726
FÍSICA                                        11.455  18.834
INGENIERÍA AMBIENTAL                          10.055  16.850
INGENIERÍA CIVIL                              11.200  18.900
INGENIERÍA DE CIBERSEGURIDAD                  11.464  18.539
INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL  12.440  12.994
INGENIERÍA DE MINAS                           10.239  14.817
INGENIERÍA DE PETRÓLEO Y GAS NATURAL          12.274  12.274
INGENIERÍA DE SISTEMAS                        13.418  19.000
INGENIERÍA DE SOFTWARE                        11.189  17.533
INGENIERÍA DE TELECOMUNICACIONES              10.587  16.236
INGENIERÍA ECONÓMICA                          11.076  18.800
INGENIERÍA ELECTRÓNICA                        10.700  18.326
INGENIERÍA ELÉCTRICA                          11.100  16.900
INGENIERÍA ESTADÍSTICA                        10.011  17.600
INGENIERÍA FÍSICA                             10.186  15.593
INGENIERÍA GEOLÓGICA                          10.662  14.347
INGENIERÍA INDUSTRIAL                         11.140  19.400
INGENIERÍA MECATRÓNICA                        10.100  18.039
INGENIERÍA MECÁNICA                           11.786  18.500
INGENIERÍA MECÁNICA-ELÉCTRICA                 10.335  15.823
INGENIERÍA METALÚRGICA                        10.228  12.889
INGENIERÍA NAVAL                              12.143  13.565
INGENIERÍA PETROQUÍMICA                       10.054  13.538
INGENIERÍA QUÍMICA                            10.002  17.790
INGENIERÍA SANITARIA                          10.149  13.781
INGENIERÍA TEXTIL                             10.627  11.115
MATEMÁTICA                                    10.028  18.200
QUÍMICA                                       10.681  12.897

[30 rows x 24 columns]