In [6]:
# !pip install requests beautifulsoup4 selenium
# !pip install chromedriver-binary==121.0.6167.184.0
# !pip install --upgrade selenium

In [15]:
from selenium import webdriver
import chromedriver_binary
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

import numpy as np
import pandas as pd

In [3]:
# Lista de paginas html 
list_html = []

# Inicializar el navegador
options = webdriver.ChromeOptions()
options.add_argument('--headless')
driver = webdriver.Chrome(options=options)

# URL de la página a scraper
url = 'https://resultados.admision.uni.edu.pe/dia3.html'

# Cargar página
driver.get(url)

# Localiza el elemento <select> por su clase CSS
select_element = driver.find_element(By.CSS_SELECTOR, 'select.form-select.form-select-sm.form-select-solid')
# Seleccione la opción con el valor "100"
select = Select(select_element)
select.select_by_value('100')

# Número de página
num_pages = 1


while True :

    # Esperar a que se cargue el contenido dinámico (puedes ajustar esto según la estructura de la página y cómo se carga el contenido)
    WebDriverWait(driver, 10).until(EC.visibility_of_all_elements_located((By.CSS_SELECTOR, 'td.sorting_1')))

    # Recuperar el contenido HTML de la página después de que se haya cargado completamente
    list_html.append(driver.page_source)
    print('Page :',num_pages)

    try :
        # Buscar el elemento que contiene el botón de paginación
        pagination_container = driver.find_element(By.CSS_SELECTOR, 'li.paginate_button.page-item.next')
        # Utilice el contenedor de paginación para encontrar el botón de paginación específico
        pagination_button = pagination_container.find_element(By.CSS_SELECTOR, 'i.next')

        # Haga clic en el botón de paginación
        pagination_button.click()
    except :
        break

    num_pages = num_pages + 1

# Cerrar navegador
driver.quit()

Page : 1
Page : 2
Page : 3
Page : 4
Page : 5
Page : 6
Page : 7
Page : 8
Page : 9
Page : 10
Page : 11
Page : 12
Page : 13
Page : 14
Page : 15
Page : 16
Page : 17
Page : 18
Page : 19
Page : 20
Page : 21
Page : 22
Page : 23
Page : 24
Page : 25
Page : 26
Page : 27
Page : 28
Page : 29
Page : 30
Page : 31
Page : 32
Page : 33
Page : 34
Page : 35
Page : 36
Page : 37
Page : 38
Page : 39
Page : 40
Page : 41
Page : 42
Page : 43
Page : 44
Page : 45
Page : 46
Page : 47
Page : 48
Page : 49
Page : 50
Page : 51
Page : 52
Page : 53
Page : 54
Page : 55
Page : 56

In [9]:
# Guardado de cada pagina html
for pag in range(len(list_html)) : 
    texte = list_html[pag]

    # Modificar el path segun cada usuario
    file_path = r'.\Results_html\index_' + str(pag + 1) + '.html'

    with open(file_path, 'w') as file:
        file.write(texte)

    print("Html guardado en archivo:", file_path)

Html guardado en archivo: .\Results_html\index_1.html
Html guardado en archivo: .\Results_html\index_2.html
Html guardado en archivo: .\Results_html\index_3.html
Html guardado en archivo: .\Results_html\index_4.html
Html guardado en archivo: .\Results_html\index_5.html
Html guardado en archivo: .\Results_html\index_6.html
Html guardado en archivo: .\Results_html\index_7.html
Html guardado en archivo: .\Results_html\index_8.html
Html guardado en archivo: .\Results_html\index_9.html
Html guardado en archivo: .\Results_html\index_10.html
Html guardado en archivo: .\Results_html\index_11.html
Html guardado en archivo: .\Results_html\index_12.html
Html guardado en archivo: .\Results_html\index_13.html
Html guardado en archivo: .\Results_html\index_14.html
Html guardado en archivo: .\Results_html\index_15.html
Html guardado en archivo: .\Results_html\index_16.html
Html guardado en archivo: .\Results_html\index_17.html
Html guardado en archivo: .\Results_html\index_18.html
Html guardado en archivo: .\Results_html\index_19.html
Html guardado en archivo: .\Results_html\index_20.html
Html guardado en archivo: .\Results_html\index_21.html
Html guardado en archivo: .\Results_html\index_22.html
Html guardado en archivo: .\Results_html\index_23.html
Html guardado en archivo: .\Results_html\index_24.html
Html guardado en archivo: .\Results_html\index_25.html
Html guardado en archivo: .\Results_html\index_26.html
Html guardado en archivo: .\Results_html\index_27.html
Html guardado en archivo: .\Results_html\index_28.html
Html guardado en archivo: .\Results_html\index_29.html
Html guardado en archivo: .\Results_html\index_30.html
Html guardado en archivo: .\Results_html\index_31.html
Html guardado en archivo: .\Results_html\index_32.html
Html guardado en archivo: .\Results_html\index_33.html
Html guardado en archivo: .\Results_html\index_34.html
Html guardado en archivo: .\Results_html\index_35.html
Html guardado en archivo: .\Results_html\index_36.html
Html guardado en archivo: .\Results_html\index_37.html
Html guardado en archivo: .\Results_html\index_38.html
Html guardado en archivo: .\Results_html\index_39.html
Html guardado en archivo: .\Results_html\index_40.html
Html guardado en archivo: .\Results_html\index_41.html
Html guardado en archivo: .\Results_html\index_42.html
Html guardado en archivo: .\Results_html\index_43.html
Html guardado en archivo: .\Results_html\index_44.html
Html guardado en archivo: .\Results_html\index_45.html
Html guardado en archivo: .\Results_html\index_46.html
Html guardado en archivo: .\Results_html\index_47.html
Html guardado en archivo: .\Results_html\index_48.html
Html guardado en archivo: .\Results_html\index_49.html
Html guardado en archivo: .\Results_html\index_50.html
Html guardado en archivo: .\Results_html\index_51.html
Html guardado en archivo: .\Results_html\index_52.html
Html guardado en archivo: .\Results_html\index_53.html
Html guardado en archivo: .\Results_html\index_54.html
Html guardado en archivo: .\Results_html\index_55.html
Html guardado en archivo: .\Results_html\index_56.html

In [4]:
len(list_html)

56

In [6]:
# Analyser le contenu HTML de la page
html_content = list_html[55]
soup = BeautifulSoup(html_content, 'html.parser')

# Trouver le tableau contenant les données
table = soup.find('table', class_='table')

# Vérifier si le tableau a été trouvé
if table:
    # Récupérer les lignes du tableau
    rows = table.find_all('tr')
    # Récupérer les en-têtes de colonne
    headers = table.find_all('th')
    column_names = [header.text.strip() for header in headers]
    print(column_names)

    # Parcourir les lignes du tableau
    for row in rows:
        # Récupérer les cellules de chaque ligne
        cells = row.find_all('td')
        # Afficher le contenu des cellules
        for cell in cells:
            print(cell.text.strip(), end='\t')
        print()  # Saut de ligne entre chaque ligne du tableau
else:
    print('Aucun tableau trouvé sur la page.')

['Código', 'Nombres', 'Modalidad', 'Prueba 1', 'Prueba 2', 'Prueba 3', 'Acumulado', 'N', 'NV', 'NA', 'Nota final', 'Ingreso', 'Observación']

98052A	ESPINOZA VILCHEZ OWEN JOSUE	ORDINARIO	190,640	1,000	67,500	259,140	2,809			2,809
98053A	OROSCO FLORES MANUEL	ORDINARIO	204,320	273,000	95,000	572,320	6,204			6,204
98054A	CARRANZA ASTO BRYAN JHAIR	ORDINARIO	461,480	78,000	5,000	544,480	5,902			5,902
98055A	ARONI ROJAS JORDI JEREMY	ORDINARIO	230,840	99,000	75,000	404,840	4,388			4,388
98056A	RIOS DIAZ DALI BEN-AMI	ORDINARIO	440,600	123,000	117,500	681,100	7,383			7,383
98057A	MORENO CHOQUEZ DHUMMAS ALEJANDRO	ORDINARIO	390,800	204,000	102,500	697,300	7,558			7,558
98058A	RIVAS MANCHEGO DIEGO ALEXANDER	ORDINARIO	277,640	171,000	65,000	513,640	5,567			5,567
98059A	PICÓN ALCÁNTARA JEFFREY YEHUDI	ORDINARIO	318,880	114,000	65,000	497,880	5,397			5,397
98060A	ARROYO RAMOS FRANK LUIS	ORDINARIO	452,000	276,000	262,500	990,500	10,737			10,737
98061A	HUAYANAY CENAS DIEGO FERNANDO	ORDINARIO	383,520	81,000	110,000	574,520	6,227			6,227
98062A	ROMERO CONDE LEONID WILDER	ORDINARIO	405,320	351,000	82,500	838,820	9,092			9,092
98063A	ZAMORA HUAYANAY ENRIQUE  SEBASTIAN	ORDINARIO	394,080	204,000	242,500	840,580	9,111			9,111
98064A	ROMERO CASTILLO LUIS GERARDO	ORDINARIO	381,680	225,000	120,000	726,680	7,877			7,877
98065A	COLLAO CORDOVA ERICKSON HEYNER	ORDINARIO	260,600	84,000	55,000	399,600	4,331			4,331
98066A	HUILLCA NISHIGUCHI GEREMI JOSUE	ORDINARIO	478,120	360,000	185,000	1023,120	11,090			11,090
98067A	BALTAZAR QUISPE JORDIN JESUS	ORDINARIO	384,040	60,000	32,500	476,540	5,165			5,165
98068A	PURIHUAMAN LUCERO EDWIN	ORDINARIO	381,440	132,000	137,500	650,940	7,056			7,056
98069A	VALENZUELA DAVALOS GERARDO ELICEO	ORDINARIO	373,480	90,000	62,500	525,980	5,701			5,701
98070A	RUESTA GAMBOA FLAVIO SEBASTIAN	ORDINARIO	397,440	201,000	67,500	665,940	7,218			7,218
98071A	AVILA CUZCANO CARLOS ALBERTO	ORDINARIO	245,680	105,000	77,500	428,180	4,641			4,641
98072A	HOYOS FLOREZ ANGIE BRILLITH	ORDINARIO	364,360	297,000	145,000	806,360	8,741			8,741
98073A	BENAVENTE CAHUA LISSETH MILAGROS	ORDINARIO	***	***	***	***	***			***		Reglamento de Admisión: cuarta disposición final
98074A	CASTILLO RAMOS DIEGO JOSÉ	ORDINARIO	390,080	207,000	1,000	598,080	6,483			6,483
98075A	ARIAS VASQUEZ ANTHONY JAYL EUFRACIO	ORDINARIO	477,400	222,000	125,000	824,400	8,936			8,936
98076A	ROMANI BOCANEGRA JOSÉ MIGUEL	ORDINARIO	170,000	72,000	1,000	243,000	2,634			2,634
98077A	OSCATA VILLEGAS ANDERSON	EXTRAORDINARIO 1 - DEPORTISTAS CALIFICADOS DE ALTO NIVEL (iniciar estudios)	0,000	1,000	35,000	36,000	0,390			0,390
99901C	QUISPE CURO DIEGO	ORDINARIO	371,800	240,000	95,000	706,800	7,661			7,661

In [11]:
# Parsear el contenido HTML usando BeautifulSoup

headers = table.find_all('th')
column_names = [header.text.strip() for header in headers]
print(column_names)

list_rows = []

# Recuperacion de cada tabla
for pag in range(len(list_html)) :
    html_content = list_html[pag]
    soup = BeautifulSoup(html_content, 'html.parser')

    # Encontrar el tabla conteniendo los datos
    table = soup.find('table', class_='table')

    # Verificar si se encontró la tabla
    if table:

        # Recorrer las filas de la tabla
        rows = table.find_all('tr')
        for row in rows:
            # Obtener las celdas de cada fila
            cells = row.find_all('td')
            # Obtener el texto de cada celda y eliminar los espacios en blanco alrededor
            row_data = [cell.text.strip() for cell in cells]
            list_rows.append(row_data)

        # # Guardar el DataFrame en un archivo CSV
        # df.to_csv('datos.csv', index=False)  # Cambia el nombre del archivo de salida según sea necesario

    else:
        print('No se encontró ninguna tabla en la página.')

['Código', 'Nombres', 'Modalidad', 'Prueba 1', 'Prueba 2', 'Prueba 3', 'Acumulado', 'N', 'NV', 'NA', 'Nota final', 'Ingreso', 'Observación']

In [14]:
tabla_notas_df = pd.DataFrame(list_rows, columns=column_names)
tabla_notas_df.dropna(how='all', inplace=True)

if True :
    tablP1_notas_df.to_csv(r'.\Results_html\notas.csv', index=False)  # Cambia el nombre del archivo de salida según sea necesario

tablP1_notas_df

,Código,Nombres,Modalidad,Prueba 1,Prueba 2,Prueba 3,Acumulado,N,NV,NA,Nota final,Ingreso,Observación
1,10277E,CAMONES CHACALIAZA BRYAN ALFREDO,ORDINARIO,"443,880","318,000","142,500","904,380","9,803",,,"9,803",,
2,10278J,FLORENTINO OCAÑA KAMILLA ISABEL,ORDINARIO,***,***,***,***,***,,,***,,Reglamento de Admisión: cuarta disposición final
3,10279D,CÁRDENAS CHÁVEZ KATHERINE LUCÍA,ORDINARIO,"490,320","330,000","210,000","1030,320","11,168",,,"11,168",INGENIERÍA QUÍMICA,
4,10280G,TARAPAQUI MEDINA ERIKA MERCEDES,ORDINARIO,"348,400","177,000","165,000","690,400","7,484",,,"7,484",,
5,10281A,MASGO ROBERTO ERICKA,ORDINARIO,"479,600","453,000","400,000","1332,600","14,445",,,"14,445",INGENIERÍA QUÍMICA,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5578,98074A,CASTILLO RAMOS DIEGO JOSÉ,ORDINARIO,"390,080","207,000","1,000","598,080","6,483",,,"6,483",,
5579,98075A,ARIAS VASQUEZ ANTHONY JAYL EUFRACIO,ORDINARIO,"477,400","222,000","125,000","824,400","8,936",,,"8,936",,
5580,98076A,ROMANI BOCANEGRA JOSÉ MIGUEL,ORDINARIO,"170,000","72,000","1,000","243,000","2,634",,,"2,634",,
5581,98077A,OSCATA VILLEGAS ANDERSON,EXTRAORDINARIO 1 - DEPORTISTAS CALIFICADOS DE ...,"0,000","1,000","35,000","36,000","0,390",,,"0,390",,
5582,99901C,QUISPE CURO DIEGO,ORDINARIO,"371,800","240,000","95,000","706,800","7,661",,,"7,661",,

In [23]:
### Limpieza de datos :
columns_notes = ['Prueba 1', 'Prueba 2', 'Prueba 3', 'Acumulado', 'N', 'Nota final']
tablP1_notas_df[columns_notes] = tabla_notas_df[columns_notes].replace('***', np.nan)
tabla_notas_df[columns_notes] = tabla_notas_df[columns_notes].replace('', np.nan)

for col in columns_notes:
    tabla_notas_df[col] = tabla_notas_df[col].str.replace(',', '.').astype(float)

tabla_notas_df

,Código,Nombres,Modalidad,Prueba 1,Prueba 2,Prueba 3,Acumulado,N,NV,NA,Nota final,Ingreso,Observación
1,10277E,CAMONES CHACALIAZA BRYAN ALFREDO,ORDINARIO,443.88,318.0,142.5,904.38,9.803,,,9.803,,
2,10278J,FLORENTINO OCAÑA KAMILLA ISABEL,ORDINARIO,NaN,NaN,NaN,NaN,NaN,,,NaN,,Reglamento de Admisión: cuarta disposición final
3,10279D,CÁRDENAS CHÁVEZ KATHERINE LUCÍA,ORDINARIO,490.32,330.0,210.0,1030.32,11.168,,,11.168,INGENIERÍA QUÍMICA,
4,10280G,TARAPAQUI MEDINA ERIKA MERCEDES,ORDINARIO,348.40,177.0,165.0,690.40,7.484,,,7.484,,
5,10281A,MASGO ROBERTO ERICKA,ORDINARIO,479.60,453.0,400.0,1332.60,14.445,,,14.445,INGENIERÍA QUÍMICA,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5578,98074A,CASTILLO RAMOS DIEGO JOSÉ,ORDINARIO,390.08,207.0,1.0,598.08,6.483,,,6.483,,
5579,98075A,ARIAS VASQUEZ ANTHONY JAYL EUFRACIO,ORDINARIO,477.40,222.0,125.0,824.40,8.936,,,8.936,,
5580,98076A,ROMANI BOCANEGRA JOSÉ MIGUEL,ORDINARIO,170.00,72.0,1.0,243.00,2.634,,,2.634,,
5581,98077A,OSCATA VILLEGAS ANDERSON,EXTRAORDINARIO 1 - DEPORTISTAS CALIFICADOS DE ...,0.00,1.0,35.0,36.00,0.390,,,0.390,,
5582,99901C,QUISPE CURO DIEGO,ORDINARIO,371.80,240.0,95.0,706.80,7.661,,,7.661,,

In [40]:
filtered_df = tabla_notas_df[tabla_notas_df['Modalidad'] == 'ORDINARIO']
# ['Prueba 1', 'Prueba 2', 'Prueba 3', 'Acumulado', 'N', 'Nota final']

def calculate_mode(series):
    # Calculate the mode
    mode = series.mode()
    # Return the first mode value if it exists, otherwise return None
    return mode[0] if not mode.empty else None

# Grouping by 'Ingreso' and calculating count, mean, max, and min for columns 'A', 'B', and 'C'
result = filtered_df.groupby('Ingreso', as_index=False).agg({'Prueba 1': ['count', 'median', 'mean', 'max', 'min'],
                                             'Prueba 2': ['median', 'mean', 'max', 'min'],
                                             'Prueba 3': ['median', 'mean', 'max', 'min'],
                                             'Nota final': ['median', 'mean', 'max', 'min']})

# Changing count columns to integers
result.columns = ['Carrera',
                  'Ingresantes', 'P1_Mediana', 'P1_Media', 'P1_Max', 'P1_Min',
                  'P2_Mediana', 'P2_Media', 'P2_Max', 'P2_Min',
                  'P3_Mediana', 'P3_Media', 'P3_Max', 'P3_Min',
                  'Total_Mediana', 'Total_Media', 'Total_Max', 'Total_Min']

result['Ingresantes'] = result['Ingresantes'].astype(int)
result.loc[0, 'Carrera'] = 'TODO'
result

,Carrera,Ingresantes,P1_Mediana,P1_Media,P1_Max,P1_Min,P2_Mediana,P2_Media,P2_Max,P2_Min,P3_Mediana,P3_Media,P3_Max,P3_Min,Total_Mediana,Total_Media,Total_Max,Total_Min
0,TODO,4534,397.54,382.572369,631.96,0.00,180.0,181.578297,516.0,0.0,110.00,124.044883,475.0,0.0,7.5770,7.531619,14.051,0.000
1,ARQUITECTURA,34,502.08,513.025882,623.44,416.00,373.5,373.058824,468.0,246.0,310.00,296.985294,425.0,155.0,12.8540,12.993265,14.157,12.188
2,CIENCIA DE LA COMPUTACIÓN,16,511.06,509.395000,613.16,415.92,351.0,352.312500,567.0,228.0,291.25,287.656250,440.0,112.5,12.3460,12.458750,16.726,10.984
3,FÍSICA,17,522.92,521.237647,673.48,402.88,384.0,376.764706,564.0,231.0,340.00,329.852941,500.0,215.0,12.9460,13.309588,18.834,11.455
4,INGENIERÍA AMBIENTAL,25,468.04,477.496000,619.48,323.60,294.0,311.040000,510.0,156.0,242.50,252.200000,425.0,130.0,10.8440,11.281240,16.850,10.055
5,INGENIERÍA CIVIL,63,537.08,532.784762,676.12,389.76,459.0,455.666667,582.0,306.0,375.00,377.857143,485.0,197.5,14.6370,14.810460,18.895,13.811
6,INGENIERÍA DE CIBERSEGURIDAD,21,505.84,498.571429,646.28,379.12,348.0,378.857143,564.0,285.0,305.00,309.880952,500.0,207.5,11.9170,12.870143,18.539,11.464
7,INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL,33,484.80,494.310303,591.32,426.32,378.0,371.272727,465.0,237.0,312.50,310.454545,365.0,187.5,12.7420,12.747818,12.994,12.440
8,INGENIERÍA DE MINAS,18,494.26,483.720000,614.96,322.60,403.5,398.833333,510.0,321.0,318.75,316.527778,422.5,180.0,12.6890,12.997556,14.817,12.033
9,INGENIERÍA DE PETRÓLEO Y GAS NATURAL,1,533.84,533.840000,533.84,533.84,381.0,381.000000,381.0,381.0,217.50,217.500000,217.5,217.5,12.2740,12.274000,12.274,12.274
10,INGENIERÍA DE SISTEMAS,36,539.38,538.354444,638.68,447.76,438.0,445.250000,582.0,315.0,361.25,369.583333,485.0,265.0,14.4630,14.668250,18.218,13.448
11,INGENIERÍA DE SOFTWARE,21,527.88,526.895238,617.80,381.44,429.0,432.857143,582.0,330.0,385.00,371.666667,470.0,282.5,13.9220,14.432238,17.533,13.289
12,INGENIERÍA DE TELECOMUNICACIONES,22,495.20,482.981818,574.24,371.04,369.0,363.409091,474.0,258.0,305.00,299.431818,470.0,207.5,12.0765,12.420273,16.236,11.510
13,INGENIERÍA ECONÓMICA,31,528.76,514.492903,602.08,373.92,351.0,352.161290,513.0,207.0,287.50,280.806452,470.0,130.0,12.0050,12.438000,16.800,11.076
14,INGENIERÍA ELECTRÓNICA,25,526.08,529.828800,623.60,409.68,426.0,429.840000,582.0,264.0,355.00,362.400000,485.0,242.5,13.7480,14.330920,18.326,12.803
15,INGENIERÍA ELÉCTRICA,23,481.24,494.688696,611.80,417.64,387.0,380.739130,450.0,300.0,332.50,332.282609,425.0,225.0,12.7870,13.091174,14.887,12.154
16,INGENIERÍA ESTADÍSTICA,29,494.16,488.204138,605.12,393.00,321.0,331.655172,471.0,195.0,242.50,235.086207,352.5,60.0,10.9650,11.435138,13.772,10.011
17,INGENIERÍA FÍSICA,16,483.80,472.220000,583.08,344.00,292.5,306.562500,450.0,213.0,293.75,288.750000,442.5,195.0,11.2295,11.571625,15.593,10.186
18,INGENIERÍA GEOLÓGICA,20,489.48,480.396000,594.72,403.20,349.5,337.800000,456.0,252.0,283.75,280.000000,447.5,165.0,11.6775,11.904050,14.347,10.662
19,INGENIERÍA INDUSTRIAL,36,523.80,521.854444,603.08,404.28,409.5,415.416667,528.0,270.0,337.50,341.180556,485.0,100.0,13.4840,13.858000,15.828,12.958
20,INGENIERÍA MECATRÓNICA,27,534.00,544.900741,629.44,481.60,456.0,454.888889,564.0,339.0,390.00,396.296296,485.0,290.0,14.9550,15.133222,18.039,14.062
21,INGENIERÍA MECÁNICA,30,516.10,512.269333,652.76,400.00,433.5,431.000000,516.0,351.0,367.50,356.000000,460.0,157.5,13.8640,14.083700,16.428,13.154
22,INGENIERÍA MECÁNICA-ELÉCTRICA,27,500.96,494.488889,611.68,397.32,378.0,384.000000,531.0,312.0,325.00,333.703704,455.0,242.5,12.8680,13.139778,15.823,12.305
23,INGENIERÍA METALÚRGICA,27,472.52,462.422222,540.60,307.60,315.0,310.888889,417.0,204.0,217.50,219.166667,377.5,107.5,10.5270,10.757963,12.889,10.228
24,INGENIERÍA NAVAL,18,503.40,498.820000,583.32,418.60,363.0,373.833333,507.0,273.0,297.50,293.750000,360.0,160.0,12.6125,12.643444,13.565,12.143
25,INGENIERÍA PETROQUÍMICA,3,509.36,502.426667,549.44,448.48,297.0,314.000000,375.0,270.0,285.00,285.833333,402.5,170.0,12.0160,11.948333,13.538,10.291
26,INGENIERÍA QUÍMICA,38,477.20,478.833684,574.16,376.44,324.0,329.131579,582.0,186.0,256.25,270.263158,485.0,125.0,11.1275,11.687658,17.790,10.002
27,INGENIERÍA SANITARIA,28,475.18,495.725714,620.64,316.60,385.5,380.678571,504.0,267.0,308.75,296.071429,430.0,120.0,13.4070,12.709286,13.781,10.149
28,INGENIERÍA TEXTIL,2,449.90,449.900000,496.88,402.92,250.5,250.500000,261.0,240.0,302.50,302.500000,337.5,267.5,10.8710,10.871000,11.115,10.627
29,MATEMÁTICA,13,493.52,498.981538,576.76,424.64,345.0,342.230769,567.0,132.0,185.00,225.576923,455.0,122.5,10.8720,11.563462,17.297,10.028
30,QUÍMICA,3,450.28,461.400000,547.08,386.84,249.0,289.000000,372.0,246.0,352.50,318.333333,367.5,235.0,11.1770,11.585000,12.897,10.681

In [42]:
result[result['Carrera']=='INGENIERÍA DE SISTEMAS']

,Carrera,Ingresantes,P1_Mediana,P1_Media,P1_Max,P1_Min,P2_Mediana,P2_Media,P2_Max,P2_Min,P3_Mediana,P3_Media,P3_Max,P3_Min,Total_Mediana,Total_Media,Total_Max,Total_Min
10,INGENIERÍA DE SISTEMAS,36,539.38,538.354444,638.68,447.76,438.0,445.25,582.0,315.0,361.25,369.583333,485.0,265.0,14.463,14.66825,18.218,13.448